option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "wegelancko.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    SECRET_KEY: "arn:aws:secretsmanager:us-east-1:456018327894:secret:secret_key_wegelancko"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "wegelancko.wsgi:application"