{% extends 'recipes/base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wszystkie przepisy</title>

</head>
<body>
{% block page_header %}
{% endblock page_header %}
{% block content %}
<a class="btn btn-lg btn-success" href="{% url 'recipes:add_recipe' %}" role="button">Dodaj przepis &raquo;</a>
<div class="mb-5 mt-2" align="center"><h2>Moje przepisy</h2></div>
{% if my_recipes %}

    <div class="container" align="center">
        <div class="row justify-content-center row-cols-1 row-cols-lg-3 g-4">

        {% for recipe in my_recipes %}
            <div class="col d-flex">
              <div class="card m-1 w-100" style="height: 700px;" align="left">
                  <img src="{{ recipe.image.url }}" class="card-img-top w-100" style="height: 500px;" alt="{{ recipe.title }}">
                  <div class="card-body">
                    <h5 class="card-title m-1">{{ recipe.title }}</h5>
                    <h6 class="card-subtitle m-1">{{ recipe.user }}</h6>
                    <a style='float:right;' href="{% url 'recipes:show_recipe' recipe.id %}" class="btn btn-success">Szczegóły &raquo;</a>
                  </div>
                  <div class="card-footer text-muted text-center">czas: {{ recipe.preparation_time }}, porcje: {{ recipe.servings }}
                  </div>
              </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% else %}
    <p>Obecnie nie ma żadnych przepisów.</p>
    <a class="btn btn-lg btn-success" href="{% url 'recipes:add_recipe' %}" role="button">Dodaj przepis &raquo;</a>
{% endif %}

<div class="row m-5">
    <div class="col-md-12 m-3">

        {% if my_recipes.has_other_pages %}
            <ul class="pagination justify-content-center">
                {% if my_recipes.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ my_recipes.previous_page_number }}" class="page-link">&laquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a href="?page=1" class="page-link">&laquo;</a>
                    </li>
                {% endif %}

                {% for i in my_recipes.paginator.page_range %}
                    {% if my_recipes.number == i %}
                        <li class="page-item active">
                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if my_recipes.has_next %}
                    <li class="page-item">
                        <a href="?page={{ my_recipes.next_page_number }}" class="page-link">&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a href="?page={{ my_recipes.paginator.number_pages }}" class="page-link">&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock content %}
</body>
</html>